target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
bin/

### OS ###
.DS_Store
Thumbs.db

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### H2 ###
*.db

### Logs ###
*.log
